body {
    background-color: #36454F;
    font-weight: bold;
  }
  
  .CellButton {
    background-color: #023020;
    color: white;
    user-select: none;
  } 

  .CellButton:hover {
    background-color: #00008b;
    color: white;
    cursor: pointer;
  }

  .CellButton:active{
    background-color:#00508b;
  }